<div class="container">
  <div class="create-post-container">
    <form>
      <textarea type="text" name="content" rows="4" placeholder="What's your in your brain."></textarea>
      <button type="submit">Create post</button>
    </form>
  </div>

  <div class="post">
    <p><b>Anonimous</b></p>
    <p>the quick brown fox jumps over the lazy dog</p>
    <a href="#">edit</a>
    <a href="#">delete</a>
  </div>

  <div class="post">
    <p><b>Anonimous</b></p>
    <p>the quick brown fox jumps over the lazy dog</p>
    <a href="#">edit</a>
    <a href="#">delete</a>
  </div>

  <div class="post">
    <p><b>Anonimous</b></p>
    <p>the quick brown fox jumps over the lazy dog</p>
    <a href="#">edit</a>
    <a href="#">delete</a>
  </div>
</div>