html {
  background-color: #f0f2f5;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  width: 750px;
  margin: 0 auto;
}

.create-post-container {
  background-color: white;
  padding: 24px 32px;
  text-align: right;
  textarea {
    display: block;
    width: 100%;
    border: none;
    box-shadow: 0px 0px 5px rgb(202, 202, 202);
  }

  button {
    border: none;
    background-color: aqua;
    padding: 10px 15px;
  }
}

.post {
  margin-top: 12px;
  background-color: white;
  padding: 16px 32px;
}
